.pagination {
  margin-top: 20px;
  display: flex;
  gap: 8px;
  justify-content: center;
}

.pagination button {
  padding: 6px 12px;
  border-radius: 6px;
  border: 1px solid #cbd5e1;
  background: white;
  cursor: pointer;
}

.pagination button:disabled {
  background: #2563eb;
  color: white;
  border: none;
}
